@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;600;700;800&display=swap");

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0rem;
  padding: 0rem;
  font-size: 1.2rem;
  font-family: "Barlow Condensed", sans-serif;
  background-color: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
